.color-box {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.color-button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: 0;
  margin: 2px;
}

.product-image-details {
  width: 50vh;
}

.details-box {
  display: flex;
}

.color-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.select-color {
  display: flex;
}