.teste {
  display: none;
}

.cart-mobile {
  display: none;
}

.full-header {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-size: 30px;
  height: 8vh;
  width: 100%;
  justify-content: center;
}

.primary-header {
  display: flex;
  justify-content: space-around;
}

.header-menu {
  display: flex;
  justify-content: space-around;
}

.header-logo {
  display: flex;
  align-self: center;
  font-size: 45px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  align-self: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-list li {
  font-size: 25px;
  margin-left: 15px;
}

.mobile-menu {
  cursor: pointer;
  color: white;
  align-self: center;
  font-size: 20px;
  display: none;
  background-color: transparent;
  border: none;
}

.link {
  color: white;
  transition: 0.3s;
}

.link:hover {
  opacity: 0.8;
}

.search-box-mobile {
  display: flex;
  width: 100%;
  height: 55%;
  justify-content: center;
  background-color: #e5e5e5;
  opacity: 1.2;
  display: none;
}

.search-mobile {
  margin: 2px;
  height: 55%;
  display:flex;
  border: 1px solid grey;
  padding: 2px;
  width: 97%;
  border-radius: 10px;
  background-color: white;
}

.search-mobile input {
  margin-left: 5px;
  padding-left: 10px;
  width: 100%;
  border: none;
  outline: none;
}

.search-mobile button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: grey;
  padding-right: 10px;
}

.search-desktop {
  height: 50%;
  display:flex;
  align-self: center;
  border:1px solid grey;
  padding:2px;
  width: 30%;
  border-radius: 15px;
  background-color: white;
}

.search-desktop input {
  margin-left: 5px;
  padding-left: 10px;
  width: 100%;
  border: none;
  outline: none;
}

.search-desktop button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: grey;
  padding-right: 10px;
}

.menu-li {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header-logo {
    font-size: 40px;
  }
  .nav-list li {
    font-size: 22px;
  }
}

@media screen and (max-width: 999px) {
  .header-logo {
    font-size: 35px;
  }
  .nav-list li {
    font-size: 20px;
  }
}

@media screen and (max-width: 680px) {
  body {
    overflow-x: hidden;
  }

  #cart {
    display: none;
  }

  .full-header {
    height: 12vh;
  }

  .primary-header {
    height: 70%;
    justify-content: space-between;
  }

  .header-logo {
    width: 100%;
    font-size: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .mobile-menu {
    display: block;
    font-size: 25px;
    width: 5.5vh;
    z-index: 1;
  }

  .search-desktop {
    display: none
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 5.5vh;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }

  .nav-list li {
    display: flex;
    justify-content: center;
    margin-left: 0;

  }

  .header-home {
    margin-top: 70px
  }

  .login {
    margin-top: 30px
  }

  .cart{
    margin-top: 30px
  }

  .favorite{
    margin-top: 30px;
  }

  .nav-list.active {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
    z-index: 0;
  }

  .mobile-link {
    margin-left: 2vh;
    opacity: 0;
  }

  .search-box-mobile {
    display: block;
    width: 100vw;
    height: 37%;

    animation-duration: 0.67s;
    animation-fill-mode: both;
  }

  .search-mobile {
    width: 99%;
    height: 75%;
    padding: 0;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 3.5px;
  }
}

@media screen and (max-width: 560px) {
  .header-logo {
    font-size: 37px;
  }
}

@media screen and (max-width: 420px) {
  .full-header {
    height: 12vh;
    justify-content: space-between;
    z-index: 0;
  }

  .cart-mobile {
    display: flex;
    justify-content: center;
    top: 20px;
    position: absolute;
    width: 5.5vh;
    right: 0;
    font-size: 18px;
    z-index: 1;
  }

  .primary-header {
    height: 63%;
  }

  .mobile-menu {
    font-size: 20px;
  }

  .nav-list {
    font-size: 18px;
  }

  .header-logo {
    font-size: 33px;
  }

  .search-desktop {
    display: none;
  }

  .search-mobile input {
    padding-left: 10px;
  }

  .search-mobile button {
    padding-righ: 10px;
    margin: 0;
  }

  .search-box-mobile.active {
    animation-name: searchInputFade;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-100%);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes searchInputFade {
  0% {margin-left: 0vw; width: 100vw;}
  100% {margin-left: 11.8vw; width: 88.2vw;}
}