* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* @media screen and (max-width: 800px) {
  body, html {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  body, html {
    margin: 0;
  }
} */